APP_NAME = 
APP_VERSION = 

FILE_ALLOWED_TYPES = ["text/plain", "application/pdf"]
FILE_MAX_SIZE = 

FILE_DEFAULT_CHUNK_SIZE =


# Postgres Config
POSTGRES_USERNAME = 
POSTGRES_PASSWORD = 
POSTGRES_HOST = 
POSTGRES_PORT = 
POSTGRES_DATABASE = 


# LLM Config
GENERATION_BACKEND =
EMBEDDING_BACKEND = 

OPENAI_API_BASE_URL = 
OPENAI_TOKEN = 
MODEL_NAME = 

GEMINI_API_KEY = 

COHERE_API_KEY = 

GENERATION_MODEL_ID = 
EMBEDDING_MODEL_ID = 
EMBEDDING_MODEL_SIZE = 

INPUT_DEFAULT_MAX_CHARACTERS =
OUTPUT_DEFAULT_MAX_TOKENS =
GENERATION_DEFAULT_TEMPERATURE = 0.1

# VectorDB Config
VECTOR_DB_BACKEND_LITERAL = ["QDRANT","PGVECTOR"] # To support all options
VECTOR_DB_BACKEND = "PGVECTOR" 
# QDRANT_API_KEY = 4e3f0c7d-1b2

VECTOR_DB_PATH = 
VECTOR_DB_DISTANCE_METHOD = 
VECTOR_DB_PGVECTOR_INDEX_THRESHOLD = 

# Templates Config 
PRIMARY_LANGUAGE = "en"
DEFAULT_LANGUAGE = "en"
